.jumbotron{
    background-color: rgba(197, 155, 221, 0.247);
    color: rgb(0, 0, 0);
    margin: 0px auto;
    padding: 0px 20px 0px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
/* .nav-bar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    text-align: right;
    padding: 0px;
    margin: 0px auto;
    font-size: 20px;
}
.menu-icon{
    width: 35px;
    height: 5px;
    color: black;
    margin: 0px auto;
}
.menu-items ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

} */
/* ul{
    list-style-type: none;
} */

