.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(241, 121, 121);
    color: floralwhite;
}
a{
    color: black;
}
.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.container-fluid{
    min-height: 500px;
}
.footer{
    color: whitesmoke;
    background-color: black;
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
}
.footer a{
    color: white;
}

